[package]
name = "noosphere-ipfs"
version = "0.1.0"
edition = "2021"
description = "An interface for an IPFS client."
keywords = [
  "ipfs",
  "noosphere",
  "p2p",
]
categories = [
  "network-programming",
  "asynchronous",
]
rust-version = "1.60.0"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/noosphere-ipfs"
repository = "https://github.com/subconsciousnetwork/noosphere"
homepage = "https://github.com/subconsciousnetwork/noosphere"
readme = "README.md"

[dependencies]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
anyhow = "^1"
async-compat = { version = "~0.2" }
async-trait = "~0.1"
cid = "~0.9"
hyper = { version = "~0.14", features = ["full"] }
hyper-multipart-rfc7578 = "~0.8"
ipfs-api-prelude = "~0.5"
serde = "^1"
serde_json = "^1"
tokio = { version = "^1", features = ["io-util"] }
tracing = "0.1"
url = { version = "^2", features = [ "serde" ] }

[dev-dependencies]

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
iroh-car = { version = "0.1.3" }
libipld-cbor = "~0.15"
noosphere-storage = { version = "0.4.0", path = "../noosphere-storage" }
