[package]
name = "noosphere"
version = "0.9.0"
edition = "2021"
description = "A high-level package for dealing with accessing the Noosphere"
keywords = ["noosphere"]
categories = ["filesystem"]
rust-version = "1.60.0"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/noosphere"
repository = "https://github.com/subconsciousnetwork/noosphere"
homepage = "https://github.com/subconsciousnetwork/noosphere"
readme = "README.md"

[lib]
crate-type = ["rlib", "staticlib", "cdylib"]

[features]
default = []
headers = ["safer-ffi/headers"]
kubo-storage = ["noosphere-storage/kubo-storage"]

[dependencies]
anyhow = "^1"
thiserror = "^1"
lazy_static = "^1"
cid = "~0.9"
async-trait = "~0.1"
tracing = "~0.1"
url = { version = "^2", features = ["serde"] }
subtext = { version = "0.3.2" }
tokio-stream = "~0.1"

noosphere-core = { version = "0.6.0", path = "../noosphere-core" }
noosphere-fs = { version = "0.5.0", path = "../noosphere-fs" }
noosphere-storage = { version = "0.5.0", path = "../noosphere-storage" }
noosphere-api = { version = "0.6.0", path = "../noosphere-api" }
ucan = { version = "0.1.0" }
ucan-key-support = { version = "0.1.0" }

[dev-dependencies]
libipld-core = "~0.15"
semver = "1.0.14"
clap = { version = "4.0.29", features = ["derive"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
# TODO: We should eventually support gateway storage as a specialty target only,
# as it is a specialty use-case
tokio = { version = "^1", features = ["sync"] }
rexie = { version = "~0.4" }
wasm-bindgen = "~0.2"
wasm-bindgen-futures = "0.4.33"
js-sys = "~0.3"
tracing-wasm = "~0.2"
console_error_panic_hook = "0.1"
noosphere-into = { version = "0.5.0", path = "../noosphere-into" }

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "~0.3"
features = [
  "CryptoKey",
]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
safer-ffi = { version = "~0.0.10", features = ["proc_macros"] }
tokio = { version = "^1", features = ["full"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tempfile = "^3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "~0.3"
witty-phrase-generator = "~0.2"

[[example]]
name = "version_diff"
test = true